<html>
    <head>
        <title>Video Streaming Demonstration</title>
    </head>
    <body>
        <button type="button" onclick="location.href = 'http://127.0.0.1:8000/enableBackend1/';">Padding Beamforming</button>
        <button type="button" onclick="location.href = 'http://127.0.0.1:8000/enableBackend2/';">Convolve Beamforming</button>
        <button type="button" onclick="location.href = 'http://127.0.0.1:8000/enableBackend3/';">FFT beamforming</button>
        <button type="button" onclick="location.href = 'http://127.0.0.1:8000/disconnect/';">Disconnect</button>
        <button type="button" onclick="location.href = 'http://127.0.0.1:8000/sound/';">Sound</button>
        
        <img src="http://127.0.0.1:8000/monitor" onclick="console.log(event.clientX, event.clientY)">

        </script>
    </body>
</html>
