<html>
    <head>
        <title>Video Streaming Demonstration</title>
    </head>
    <body>
        <button type="button" onclick="location.href = 'http://127.0.0.1:8000/enableBackend1/';">Padding Beamforming</button>
        <button type="button" onclick="location.href = 'http://127.0.0.1:8000/enableBackend2/';">Convolve Beamforming</button>
        <button type="button" onclick="location.href = 'http://127.0.0.1:8000/enableBackend3/';">FFT beamforming</button>
        <button type="button" onclick="location.href = 'http://127.0.0.1:8000/disable/';">Disable</button>
        <button type="button" onclick="location.href = 'http://127.0.0.1:8000/disconnect/';">Disconnect</button>
        <button type="button" onclick="location.href = 'http://127.0.0.1:8000/sound/';">Sound</button>
        <div class="slidecontainer">
            <input type="range" min="1" max="10" value={{sliderRange}} class="slider" id="myRange">
            <input type="range" min="-9" max="-3" value={{sliderExp}} class="slider" id="exp">
            <p>Threshold: <span id="value"></span></p>
            <button type="button" id="threshold">Select threshold</button>
        </div>
        <img src="http://127.0.0.1:8000/monitor" onclick="console.log(event.clientX, event.clientY)">

        <script>
            var sliderRange = document.getElementById("myRange");
            var sliderExp = document.getElementById("exp");
            var output = document.getElementById("value");
            
            function removeGarbageURL(url){
                return url.slice(0, 36);
            };
            
            output.innerHTML = sliderRange.value + "e" + sliderExp.value;
            sliderExp.oninput = function() {
                output.innerHTML = sliderRange.value + "e" + this.value;
            }
            sliderRange.oninput = function() {
                output.innerHTML = sliderRange.value + "e" + sliderExp.value;
            }
            document.getElementById("threshold").onclick = function() { 
                url =  removeGarbageURL(window.location.href) + '?range=' + sliderRange.value + '&exp=' + sliderExp.value;
                location.href = url;
            };  

            
        </script>
    </body>
</html>
