<html>
    <head>
        <title>Replay selection</title>
    </head>
    <body>
        <button type="button" onclick="location.href = 'http://127.0.0.1:8000/replay/';">Replay 1</button>
        <button type="button" onclick="location.href = 'http://127.0.0.1:8000/replay/';">Replay 2</button>
        <button type="button" onclick="location.href = 'http://127.0.0.1:8000/replay/';">Replay 3</button>
        <button type="button" onclick="location.href = 'http://127.0.0.1:8000/replay/';">Replay 4</button>
        <button type="button" onclick="location.href = 'http://127.0.0.1:8000/replay/';">Replay 5</button>
        <button type="button" onclick="location.href = 'http://127.0.0.1:8000/replay/';">Replay 6</button>
        <button type="button" onclick="location.href = 'http://127.0.0.1:8000/replay/';">Replay 7</button>
    </body>
</html>
