<html>
    <head>
        <title>Video Streaming Demonstration</title>
    </head>
    <body>
        <button type="button" onclick="location.href = 'http://127.0.0.1:8000/enablePad/';">Trunc and sum backend</button>
        <button type="button" onclick="location.href = 'http://127.0.0.1:8000/enableConvolve/';">Convolve</button>
        <button type="button" onclick="location.href = 'http://127.0.0.1:8000/disable/';">Disable</button>
        <button type="button" onclick="location.href = 'http://127.0.0.1:8000/disconnect/';">Disconnect</button>
        <img src="http://127.0.0.1:8000/monitor">
    </body>
</html>
