<html>
    <head>
        <title>Video Streaming Demonstration</title>
    </head>
    <body>
        <button type="button" onclick="location.href = 'http://127.0.0.1:8000/enablePad/';">Trunc and sum backend</button>
        <button type="button" onclick="location.href = 'http://127.0.0.1:8000/enableConvolve/';">Convolve</button>
        <button type="button" onclick="location.href = 'http://127.0.0.1:8000/enableThirdBackend/';">Backend 3</button>
        <button type="button" onclick="location.href = 'http://127.0.0.1:8000/disconnect/';">Disconnect</button>
        <button type="button" onclick="location.href = 'http://127.0.0.1:8000/sound/';">Sound</button>
        
        <img src="http://127.0.0.1:8000/monitor" onclick="console.log(event.clientX, event.clientY)">

        </script>
    </body>
</html>
